body, html {
    padding: 0px;
    margin: 0;
}

div#body {
    padding: 10px;
}

button.glyphicon {
    background: none;
    border: 0;
}

.re {
    font-size: 8pt;
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: underline;
}

.topic-buttons {
    
}

.topic-item .topic {
    display: block;
    font-size: 14pt;
    font-weight: bold;
}

.topic-content {
    display: block;
    margin: 10px 0;
}
.error-msg {
    display: none;
}

.input-group-addon {
    min-width: 70px;
}

.input-group {
    margin: 5px;
}

form[name=register] .input-group-addon {
    min-width: 135px;
}

.upload-group input {
    padding-top: 10px;
    padding-bottom: 40px;
}

.n-likes {
    display: block;
    float: left;
    position: relative;
}

.likes-container {
   background-color: #bebebe;
  
    height: 200px;
    overflow: hidden;
    position: absolute;
    right: -34px;
    top: 9px;
    width: 200px;
    z-index: 9999;
    display: none;
}

.userpanel-btns {
    width: 600px; text-align: center;
    position: absolute;
    left:0; right:0;
    margin-left: auto; margin-right: auto;
}

.userpanel-btns .btn {
    width: 70px;
}

.userpanel-container {
    width: 100%; position: relative;
}